/* AuthPage.css */
:root{
    --outsideBorder: #DEC2DB;
    --borderLine: #5B62B3;
    --formColor: #EDE2E0;
    --backgroundColor: #C3DFF4;
    --border2: #2E80E4;
}

.auth-screen{
    width: 1495px; /*will fix to be responsive*/
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: 
        url(../../public/svgs/bg_stars.svg),
        linear-gradient(to right, #EDEFFF 1px, transparent 1px), /*grid*/
        linear-gradient(to bottom, #EDEFFF 1px, transparent 1px), /*grid*/
        linear-gradient(to bottom, #C3DFF4, #C4C2DF); /*gradient background*/
    background-size: 100% 100%, 40px 40px, 40px 40px, 100% 100%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    animation: diagonal-pan 120s linear infinite;
}

/*background animation*/
@keyframes diagonal-pan {
  from {
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
  to {
    background-position: 1000px 1000px, 1000px 1000px, 1000px 1000px, 0 0;
  }
}

.border-design{
  background-color: var(--outsideBorder);
  border: var(--borderLine) solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  border-radius: 7px;
  padding: 5px;
}

.auth-container{
    padding: 2rem;
    display: flex;
    border-radius: 5px;
    height: auto;
    width: 320px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--formColor);
    border: var(--borderLine) solid 2px;
}

.auth-header{
    margin: 20px 0 40px;
    color: var(--borderLine);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
    height: 6rem;
    display: flex;
}

.auth-header h1{
    margin: 0px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

.auth-footer, .auth-footer a{
    color: var(--borderLine);
}

/*input boxes*/

.form-label{
    align-self: flex-start;
    color: #000000;
}

.form-input{
    width: 20rem;
    height: 2.6rem;
    padding: 2% 0px 2% 5%;
    margin: 5px 0;
    border: var(--borderLine) solid 2px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white; 
}

input {
    padding-left: .5rem;
}

.form-label{
    color: var(--borderLine);
    margin-left: 5px;
}

.auth-button{
    background-color: var(--borderLine);
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: auto;
    width: 10rem;
}

.input-error {
  color: #ff4d4d;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  text-align: left;
}

input:focus {
  outline: none;              
  border-color: var(--border2);       
}

button:hover{
    background-color: var(--border2);
    transition: all 0.2s ease;
    outline: none;
}

button:focus{
    outline: none;
}