/* AuthPage.css */

.auth-screen{
    background-color: #D9D9D9;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.auth-container{
    background-color: #B2B2B2;
    width: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.auth-header{
    margin-bottom: 20%;
    color: #000000;
    justify-content: center;
    align-items: center;
    background-color: #8d8d8d;
    border-radius: 5px;
    width: 100%;
    height: 5rem;
    display: flex;

}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;

}

/*input boxes*/

.form-label{
    align-self: flex-start;
    color: #000000;
}

.form-input{
    width: 20rem;
    height: 2rem;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
}

input {
    padding-left: .5rem;
}

.auth-button{
    background-color: #5E5E5E;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10%;
    width: 10rem;
}

.input-error {
  color: #ff4d4d;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  text-align: left;
}
