/* LoadingScreen.module */
:root{
  --color1: #EDE2E0;
  --color2: #DEC2DB; /*Light Pink*/
  --color3: #5B62B3; /*Dark purple*/
  --color4: #2E80E4;
  --color5: #6DA0E1;
}

.loadingOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.193);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  backdrop-filter: blur(6px);
  transition: opacity 0.5s ease; /* added fade transition */
}

.fadeOut {
  opacity: 0; /* fade out when applied */
}

.loadingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: none;
  border-radius: 10px;
  text-align: center;
}

.loadingSpinner {
  width: 250px;
  height: 22px;
  border-radius: 20px;
  color: var(--color3);
  border: 2px solid;
  position: relative;
  margin-top: -10px;
}

.loadingSpinner::before{
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}

@keyframes l6 {
    100% {inset:0}
}

.loadingText {
  margin: 15px;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 500;
  color: var(--color3);
  letter-spacing: 0.05em;
}

.loadingText p {
  margin: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
