/* LoadingScreen.module */
html, body {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}

.loadingOverlay {
  position: fixed;
  inset: 0;
  background-image: 
      url(../../svgs/bg_stars.svg),
      linear-gradient(to right, #EDEFFF 1px, transparent 1px), /*grid*/
      linear-gradient(to bottom, #EDEFFF 1px, transparent 1px), /*grid*/
      linear-gradient(to bottom, #C3DFF4, #C4C2DF); /*gradient background*/
  background-size:  100% 100%,40px 40px, 40px 40px, 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  backdrop-filter: blur(6px);
  transition: opacity 0.5s ease; /* added fade transition */

  overflow: hidden;
}

.fadeOut {
  opacity: 0; /* fade out when applied */
}

.loadingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: none;
  border-radius: 10px;
  text-align: center;
}

.loadingSpinner {
  width: 250px;
  height: 22px;
  border-radius: 20px;
  color: var(--color3);
  border: 2px solid;
  position: relative;
  margin-top: -10px;
}

.loadingSpinner::before{
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}

@keyframes l6 {
    100% {inset:0}
}

.loadingText {
  margin: 15px;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 500;
  color: var(--color3);
  letter-spacing: 0.05em;
}

.loadingText p {
  margin: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
